body {
  background-color: #212121;
  color: #e7e7e7;
}

li {
  padding: 5px 0 5px;
}

.no-dot {
  list-style: none;
}

kbd {
  background-color: #e1e1e1;
  color: black;
  margin: 0 10px;
}

table thead th {
  color: #e7e7e7;
}

.th-col-state {
  color: #e7e7e7;
  width: 65px;
  text-align: center;
}

table tbody tr td {
  color: #e7e7e7;
}

table tbody tr td pre {
  color: #e7e7e7;
}

.header-container {
  border-left: solid #4caf50 10px;
}
