body {
    background: #212121;
    color: #4CAF50;
    font-family: メイリオ;
}

/* タイトル */
.version {
    font-size: 14px;
    font-size: 20px;
    text-align: center;
}

.modified-title {
    font-size: 14px;
    color: #FFC107;
}

.fix-title {
    font-size: 14px;
    color: #E91E63;
}

.new-action-title {
    font-size: 14px;
    color: #03A9F4;
}

.new-method-title {
    font-size: 14px;
    color: #4CAF50;
}

.important-title {
    font-size: 18px;
    color: #E91E63;
}
/* タイトル */

.notify-content {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background: #2B2B2B;
}

.important-body {
    margin: 20px 10px;
    color: #e57373;
    font-size: 14px;
}

.important-body p {
    margin: 10px;
}

ol.modifieds {

}

ol.modifieds li {
    margin: 20px 5px;
    color: #EEEEEE;
    font-size: 13px;
}

ol.new-actions {

} 

ol.new-actions li {
    margin: 10px 5px;
    color: #EEEEEE;
    font-size: 13px;
}